@model PrzychodniaMvc.Models.BazaDanych.Pacjent

@{
    ViewBag.Title = "Logowanie";
}
<h2>@ViewBag.Title</h2>

@if (@ViewBag.BladLogowania == true)
{
    <div>
        <font color="red" , size="3">
            <p align="center">Wprowadzone dane są niepoprawne. Spróbuj ponownie.</p>
        </font>
    </div>
}
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Zaloguj", "Pacjent", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Uzytkownik.Login, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Uzytkownik.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Uzytkownik.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Uzytkownik.Haslo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Uzytkownik.Haslo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Uzytkownik.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zaloguj" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Zarejestruj się jako nowy pacjent", "Rejestruj")
                </p>

            }
        </section>
    </div>
</div>
